@model IEnumerable<Exam.Models.ExamQuestion>

@{
    ViewBag.Title = "Sub_Exam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Sub_name</h1>
<h2>Exam's Models</h2>

<p>
    @Html.ActionLink("Create New", "Create",new { id =ViewBag.Sub_id},null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.E_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StausPost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.E_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.name)
            </td>
            <td>  @Html.DisplayFor(model => item.StausPost)</td>


               <td>
                   @Html.ActionLink("Start Exam", "StartExam", "ExamQuestions", new { id = item.E_id }, null) |
                   @Html.ActionLink("Stop Exam", "StopExam", "ExamQuestions", new { id = item.E_id }, null) |

                @Html.ActionLink("Show Exam", "ShowExam", "E_Structures", new { id = item.E_id },null) |
                @Html.ActionLink("Edit", "Edit", new { id = item.E_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.E_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.E_id }) 

            </td>
        </tr>
    }

</table>
