@model Exam.Models.Professor

@{
    ViewBag.Title = "ProfessorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Details</h2>

<div>
    
 
    <div class="display-field">
        <img src="@Url.Content(@Model.P_image)" alt="ss" width="200" height="200" />
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_N)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_N)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.approval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.approval)
        </dd>

       
    </dl>
</div>
