@model IEnumerable<Exam.Models.TFquestion>

@{
    ViewBag.Title = "Sub_Q";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Sub_name</h2>



<p>
    @Html.ActionLink("Add Question", "Create", "TFquestions", new { id = ViewBag.Sub_id }, null)
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.def_level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chapter.name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.def_level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapter.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TF_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.TF_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TF_id })
            </td>
        </tr>
    }
</table>