@model IEnumerable<Exam.Models.E_Structures>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type_Q)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.def_level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumofQ)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Chapter.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExamQuestion.E_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type_Q)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.def_level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumofQ)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Chapter.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamQuestion.E_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.E_S_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.E_S_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.E_S_id })
        </td>
    </tr>
}

</table>
