@model Exam.Models.Student

@{
    ViewBag.Title = "StudentPage";
    Layout = "~/Views/Shared/_Layout_student.cshtml";

}

<div>
    <div class="display-field">
        <img src="@Url.Content(@Model.ST_image)" alt="ss"  width="170" height="170" style='border-radius: 50% ;margin-left:40px;' />
    </div>
</div>
     <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_N)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_N)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.approval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.approval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.Department.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level.L_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level.L_id)
        </dd>

    </dl>
